/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
/* 
    Created on : 22 mei 2024, 16:01:03
    Author     : thoma
*/

.root {
    -fx-background-color: lightgreen;
    -fx-font-family: "Comic Sans MS";
}

.chart-legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.username {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.title {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 50px;
    -fx-fill: darkgreen;
}

